#{$prefix}-checkbox-group {
    min-height: 200px;

    #{$prefix}-box-header {
        @include vertical-center(30px !important);
    }

    .el-checkbox {
        margin-right: 10px !important;
    }

    .el-checkbox.is-bordered+.el-checkbox.is-bordered {
        margin-left: 0 !important;
    }
}