#{$prefix}main {
    #{$prefix}header {
        background-color: $pretty-header-background-color;

        &-left {

            #{$prefix}breadcrumb {

                .el-breadcrumb__item {
                    .el-breadcrumb__inner {
                        color: $pretty-breadcrumb-color;

                        &.is-link {
                            color: $pretty-breadcrumb-link-color;
                        }
                    }

                    .el-breadcrumb__separator {
                        color: $pretty-breadcrumb-separator-color;
                    }
                }
            }
        }
    }

    #{$prefix}content {
        background: $pretty-main-background-color;
    }
}

/*侧边栏*/
#{$prefix}sidebar {
    background-color: $pretty-sidebar-background-color;

    /*logo*/
    #{$prefix}logo {
        &-box {
            background-color: $pretty-logo-box-background-color;
        }

        &-text {
            color: $pretty-logo-text-color;
        }
    }
}

#{$prefix}menus {
    background-color: $pretty-menus-background-color !important;
}

.el-menu,
.el-menu--vertical {
    background-color: $pretty-menus-background-color !important;

    .el-menu-item,
    .el-submenu__title {
        color: $pretty-menus-menu-color !important;

        &:active,
        &:focus,
        &:hover {
            background: $pretty-menus-menu-hover-background-color !important;
            color: $pretty-menus-menu-hover-color !important;
        }

        &.is-active {
            background: $pretty-menus-menu-active-background-color !important;
            color: $pretty-menus-menu-active-color !important;
        }
    }
}