#{$prefix}-upload-dialog {
    box-shadow: none;

    #{$prefix}-dialog-main {
        padding: 0 !important;
        @include flex-column();

        .el-upload {
            width: 100%;

            .el-upload-dragger {
                padding-bottom: 10px;
                width: 100%;
                height: auto;
                border: 0;

                .el-icon-upload {
                    margin-top: 15px;
                }

                .el-upload__text {
                    height: 32px;
                    line-height: 32px;
                }
            }
        }
    }

    &-top {
        flex-shrink: 0;
    }

    &-bottom {
        flex-grow: 1;
    }

    &-tip {
        color: $color-warning;

        >i {
            margin-right: 5px;
        }
    }

    .status-success {
        color: $color-success;
        font-size: 16px;
    }

    .status-error {
        color: $color-danger;
        font-size: 16px;
    }
}