@import './variables';

#{$prefix}-details {
  width: 100%;
  border: 1px solid #dcebf7;

  &-row {
    overflow: hidden;
    @include flex-row();

    &.cols-1 {
      #{$prefix}-details-cell {
        width: 100%;
      }
    }
    &.cols-2 {
      #{$prefix}-details-cell {
        width: 50%;
      }
    }
    &.cols-3 {
      #{$prefix}-details-cell {
        width: 33.33333333%;
      }
    }
    &.cols-4 {
      #{$prefix}-details-cell {
        width: 25%;
      }
    }
  }

  &-cell {
    @include flex-row();
    flex-shrink: 0;
    flex-grow: 0;
    > section {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
    }
  }

  &-label {
    padding: 10px 0;
    color: #336199;
    background-color: #edf3f4;
    border-bottom: 1px solid #f7fbff;
    flex-shrink: 0;
    justify-content: flex-end;
  }
  &-content {
    padding: 10px 0 10px 12px;
    border-bottom: 1px dotted #dcebf7;
    flex-grow: 1;
    word-break: break-all;
  }

  &-row:last-child {
    #{$prefix}-details-cel {
      > section {
        border-bottom: none;
      }
    }
  }
}
