#{$prefix}drag-sort {
    padding: 5px;
    border: 1px solid $border-color3;

    &-item {
        padding-left: 10px;
        margin-bottom: 5px;
        position: relative;
        display: block;
        height: 40px;
        line-height: 40px;
        background-color: #f6f6f6;
        border-bottom: 1px solid $border-color3;
        cursor: move;

        &:last-child {
            border-width: none;
        }
    }

    &-ghost {
        opacity: 0.5;
        background: #ccc;
    }
}