/*主题色*/
$classics-theme-color: #03a9f4;

/*menus*/
$classics-menus-background-color: #344058;
$classics-menus-menu-color:rgba(255, 255, 255, .7);

$classics-menus-menu-active-background-color:#29d;
$classics-menus-menu-active-color:#fff;

$classics-menus-menu-hover-background-color:rgba(64, 158, 255, 0.2);
$classics-menus-menu-hover-color:#fff;