USE [master]
GO
/****** Object:  Database [Nm_CodeGenerator]    Script Date: 2019/5/21 15:25:57 ******/
CREATE DATABASE [Nm_CodeGenerator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nm_CodeGenerator', FILENAME = N'D:\Database\SqlServer\Nm_CodeGenerator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nm_CodeGenerator_log', FILENAME = N'D:\Database\SqlServer\Nm_CodeGenerator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nm_CodeGenerator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nm_CodeGenerator]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 2019/5/21 15:25:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [uniqueidentifier] NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[TableName] [varchar](50) NOT NULL,
	[BaseEntityType] [smallint] NOT NULL,
	[PrimaryKeyType] [smallint] NOT NULL,
	[Remarks] [nvarchar](50) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedTime] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enum]    Script Date: 2019/5/21 15:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enum](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Remarks] [nvarchar](50) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedTime] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Enum] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enum_Item]    Script Date: 2019/5/21 15:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enum_Item](
	[Id] [uniqueidentifier] NOT NULL,
	[EnumId] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Value] [int] NOT NULL,
	[Remarks] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Enum_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model_Property]    Script Date: 2019/5/21 15:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model_Property](
	[Id] [uniqueidentifier] NOT NULL,
	[ClassId] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Type] [smallint] NOT NULL,
	[ModelType] [smallint] NOT NULL,
	[Nullable] [bit] NOT NULL,
	[EnumId] [uniqueidentifier] NULL,
	[Remarks] [nvarchar](50) NOT NULL,
	[Sort] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedTime] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Query_Model_Property] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 2019/5/21 15:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Prefix] [nvarchar](50) NULL,
	[Code] [nvarchar](50) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedTime] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[DeletedTime] [datetime] NOT NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property]    Script Date: 2019/5/21 15:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property](
	[Id] [uniqueidentifier] NOT NULL,
	[ClassId] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[IsPrimaryKey] [bit] NOT NULL,
	[IsInherit] [bit] NOT NULL,
	[Type] [smallint] NOT NULL,
	[Length] [int] NOT NULL,
	[Precision] [int] NOT NULL,
	[Scale] [int] NOT NULL,
	[EnumId] [uniqueidentifier] NOT NULL,
	[Nullable] [bit] NOT NULL,
	[ShowInList] [bit] NOT NULL,
	[HasDefaultValue] [bit] NOT NULL,
	[Remarks] [nvarchar](50) NOT NULL,
	[Sort] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedTime] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Property] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Class] ([Id], [ProjectId], [Name], [TableName], [BaseEntityType], [PrimaryKeyType], [Remarks], [CreatedTime], [CreatedBy], [ModifiedTime], [ModifiedBy]) VALUES (N'96abae7f-4198-4cc4-6b01-39edc64f20eb', N'89c9765e-eae2-8e19-0efd-39edc64ee6e7', N'Tag', N'Tag', 6, 0, N'标签', CAST(N'2019-05-14T10:18:26.890' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a', CAST(N'2019-05-14T10:18:26.890' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a')
INSERT [dbo].[Class] ([Id], [ProjectId], [Name], [TableName], [BaseEntityType], [PrimaryKeyType], [Remarks], [CreatedTime], [CreatedBy], [ModifiedTime], [ModifiedBy]) VALUES (N'415ad4ce-cd1f-3642-a6af-39edc650373c', N'89c9765e-eae2-8e19-0efd-39edc64ee6e7', N'Category', N'Category', 6, 0, N'分类', CAST(N'2019-05-14T10:19:38.167' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a', CAST(N'2019-05-14T10:19:38.167' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a')
INSERT [dbo].[Class] ([Id], [ProjectId], [Name], [TableName], [BaseEntityType], [PrimaryKeyType], [Remarks], [CreatedTime], [CreatedBy], [ModifiedTime], [ModifiedBy]) VALUES (N'82bde8de-830a-7a55-78dd-39edc650a8bd', N'89c9765e-eae2-8e19-0efd-39edc64ee6e7', N'Article', N'Article', 6, 0, N'文章', CAST(N'2019-05-14T10:20:07.227' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a', CAST(N'2019-05-14T10:20:07.227' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a')
INSERT [dbo].[Enum] ([Id], [Name], [Remarks], [CreatedTime], [CreatedBy], [ModifiedTime], [ModifiedBy]) VALUES (N'd1990b44-2130-1c3b-9dd7-39eda3d09baa', N'MediaType', N'多媒体类型', CAST(N'2019-05-07T17:33:09.923' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a', CAST(N'2019-05-07T17:33:09.923' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a')
INSERT [dbo].[Enum_Item] ([Id], [EnumId], [Name], [Value], [Remarks]) VALUES (N'cea1d415-751c-7493-d6b2-39edc1c4cdf9', N'd1990b44-2130-1c3b-9dd7-39eda3d09baa', N'Img', 1, N'图片')
INSERT [dbo].[Enum_Item] ([Id], [EnumId], [Name], [Value], [Remarks]) VALUES (N'5be87919-dfef-e657-4fac-39edc1c50a92', N'd1990b44-2130-1c3b-9dd7-39eda3d09baa', N'Audio', 2, N'音乐')
INSERT [dbo].[Enum_Item] ([Id], [EnumId], [Name], [Value], [Remarks]) VALUES (N'80d98d49-a685-adfc-9bf2-39edc650e37d', N'd1990b44-2130-1c3b-9dd7-39eda3d09baa', N'Video', 3, N'视频')
INSERT [dbo].[Model_Property] ([Id], [ClassId], [Name], [Type], [ModelType], [Nullable], [EnumId], [Remarks], [Sort], [CreatedTime], [CreatedBy], [ModifiedTime], [ModifiedBy]) VALUES (N'5ce795bd-cee4-d6ba-0d4c-39edc653d327', N'96abae7f-4198-4cc4-6b01-39edc64f20eb', N'Name', 0, 2, 0, N'00000000-0000-0000-0000-000000000000', N'名称', 0, CAST(N'2019-05-14T10:23:34.683' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a', CAST(N'2019-05-14T10:23:34.683' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a')
INSERT [dbo].[Model_Property] ([Id], [ClassId], [Name], [Type], [ModelType], [Nullable], [EnumId], [Remarks], [Sort], [CreatedTime], [CreatedBy], [ModifiedTime], [ModifiedBy]) VALUES (N'ea764af0-35e3-4028-4a30-39edc6563df3', N'96abae7f-4198-4cc4-6b01-39edc64f20eb', N'Name', 0, 3, 0, N'00000000-0000-0000-0000-000000000000', N'名称', 0, CAST(N'2019-05-14T10:26:13.067' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a', CAST(N'2019-05-14T10:26:13.067' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a')
INSERT [dbo].[Model_Property] ([Id], [ClassId], [Name], [Type], [ModelType], [Nullable], [EnumId], [Remarks], [Sort], [CreatedTime], [CreatedBy], [ModifiedTime], [ModifiedBy]) VALUES (N'35fed5d9-c812-9482-ff0f-39edc65724a5', N'415ad4ce-cd1f-3642-a6af-39edc650373c', N'Name', 0, 2, 0, N'00000000-0000-0000-0000-000000000000', N'名称', 0, CAST(N'2019-05-14T10:27:12.157' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a', CAST(N'2019-05-14T10:27:12.157' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a')
INSERT [dbo].[Project] ([Id], [Name], [Prefix], [Code], [CreatedTime], [CreatedBy], [ModifiedTime], [ModifiedBy], [Deleted], [DeletedTime], [DeletedBy]) VALUES (N'89c9765e-eae2-8e19-0efd-39edc64ee6e7', N'博客', N'Nm', N'Blog', CAST(N'2019-05-14T10:18:12.057' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a', CAST(N'2019-05-17T11:35:32.053' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a', 0, CAST(N'2019-05-14T10:18:12.057' AS DateTime), N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Property] ([Id], [ClassId], [Name], [IsPrimaryKey], [IsInherit], [Type], [Length], [Precision], [Scale], [EnumId], [Nullable], [ShowInList], [HasDefaultValue], [Remarks], [Sort], [CreatedTime], [CreatedBy], [ModifiedTime], [ModifiedBy]) VALUES (N'6a75e777-78da-76fa-0fd1-39edc64f2104', N'96abae7f-4198-4cc4-6b01-39edc64f20eb', N'Id', 1, 1, 8, 0, 0, 0, N'00000000-0000-0000-0000-000000000000', 0, 1, 0, N'主键', 0, CAST(N'2019-05-14T10:18:26.000' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a', CAST(N'2019-05-14T10:18:26.000' AS DateTime), N'2e23d1d9-4a72-acc2-f6ff-39ed21cb6a4a')
ALTER TABLE [dbo].[Class] ADD  CONSTRAINT [DF_Class_BaseClassType]  DEFAULT ((0)) FOR [BaseEntityType]
GO
ALTER TABLE [dbo].[Class] ADD  CONSTRAINT [DF_Class_PrimaryKeyType]  DEFAULT ((0)) FOR [PrimaryKeyType]
GO
ALTER TABLE [dbo].[Class] ADD  CONSTRAINT [DF_Class_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Class] ADD  CONSTRAINT [DF_Class_ModifiedTime]  DEFAULT (getdate()) FOR [ModifiedTime]
GO
ALTER TABLE [dbo].[Enum] ADD  CONSTRAINT [DF_Enum_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Enum] ADD  CONSTRAINT [DF_Enum_ModifiedTime]  DEFAULT (getdate()) FOR [ModifiedTime]
GO
ALTER TABLE [dbo].[Enum_Item] ADD  CONSTRAINT [DF_Enum_Item_Value]  DEFAULT ((0)) FOR [Value]
GO
ALTER TABLE [dbo].[Model_Property] ADD  CONSTRAINT [DF_Query_Model_Property_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[Model_Property] ADD  CONSTRAINT [DF_Model_Property_ModelType]  DEFAULT ((0)) FOR [ModelType]
GO
ALTER TABLE [dbo].[Model_Property] ADD  CONSTRAINT [DF_Model_Property_Nullable]  DEFAULT ((0)) FOR [Nullable]
GO
ALTER TABLE [dbo].[Model_Property] ADD  CONSTRAINT [DF_Query_Model_Property_Sort]  DEFAULT ((0)) FOR [Sort]
GO
ALTER TABLE [dbo].[Model_Property] ADD  CONSTRAINT [DF_Query_Model_Property_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Model_Property] ADD  CONSTRAINT [DF_Query_Model_Property_ModifiedTime]  DEFAULT (getdate()) FOR [ModifiedTime]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_ModifiedTime]  DEFAULT (getdate()) FOR [ModifiedTime]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_DeletedTime]  DEFAULT (getdate()) FOR [DeletedTime]
GO
ALTER TABLE [dbo].[Property] ADD  CONSTRAINT [DF_Property_IsPrimaryKey]  DEFAULT ((0)) FOR [IsPrimaryKey]
GO
ALTER TABLE [dbo].[Property] ADD  CONSTRAINT [DF_Property_IsInherit]  DEFAULT ((0)) FOR [IsInherit]
GO
ALTER TABLE [dbo].[Property] ADD  CONSTRAINT [DF_Property_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[Property] ADD  CONSTRAINT [DF_Property_Precision]  DEFAULT ((0)) FOR [Precision]
GO
ALTER TABLE [dbo].[Property] ADD  CONSTRAINT [DF_Property_Scale]  DEFAULT ((0)) FOR [Scale]
GO
ALTER TABLE [dbo].[Property] ADD  CONSTRAINT [DF_Property_Nullable]  DEFAULT ((0)) FOR [Nullable]
GO
ALTER TABLE [dbo].[Property] ADD  CONSTRAINT [DF_Property_ShowInList]  DEFAULT ((0)) FOR [ShowInList]
GO
ALTER TABLE [dbo].[Property] ADD  CONSTRAINT [DF_Property_DefaultValue]  DEFAULT ((0)) FOR [HasDefaultValue]
GO
ALTER TABLE [dbo].[Property] ADD  CONSTRAINT [DF_Property_Sort]  DEFAULT ((0)) FOR [Sort]
GO
ALTER TABLE [dbo].[Property] ADD  CONSTRAINT [DF_Property_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Property] ADD  CONSTRAINT [DF_Property_ModifiedTime]  DEFAULT (getdate()) FOR [ModifiedTime]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'项目编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Class', @level2type=N'COLUMN',@level2name=N'ProjectId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Class', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'表明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Class', @level2type=N'COLUMN',@level2name=N'TableName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基类类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Class', @level2type=N'COLUMN',@level2name=N'BaseEntityType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Class', @level2type=N'COLUMN',@level2name=N'PrimaryKeyType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'说明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Class', @level2type=N'COLUMN',@level2name=N'Remarks'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Class', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Class', @level2type=N'COLUMN',@level2name=N'CreatedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Class', @level2type=N'COLUMN',@level2name=N'ModifiedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Class', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Enum', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Enum', @level2type=N'COLUMN',@level2name=N'CreatedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Enum', @level2type=N'COLUMN',@level2name=N'ModifiedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Enum', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所属枚举' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Enum_Item', @level2type=N'COLUMN',@level2name=N'EnumId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Enum_Item', @level2type=N'COLUMN',@level2name=N'Value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模型类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Model_Property', @level2type=N'COLUMN',@level2name=N'ModelType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'可空' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Model_Property', @level2type=N'COLUMN',@level2name=N'Nullable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Model_Property', @level2type=N'COLUMN',@level2name=N'Remarks'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Model_Property', @level2type=N'COLUMN',@level2name=N'Sort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Model_Property', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Model_Property', @level2type=N'COLUMN',@level2name=N'CreatedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Model_Property', @level2type=N'COLUMN',@level2name=N'ModifiedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Model_Property', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'项目名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Project', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'前缀' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Project', @level2type=N'COLUMN',@level2name=N'Prefix'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Project', @level2type=N'COLUMN',@level2name=N'Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Project', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Project', @level2type=N'COLUMN',@level2name=N'CreatedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Project', @level2type=N'COLUMN',@level2name=N'ModifiedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Project', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'IsPrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否继承自基类实体' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'IsInherit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'长度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'Length'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'精度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'Precision'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'刻度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'Scale'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'关联枚举' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'EnumId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'可空' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'Nullable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'列表中显示' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'ShowInList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'有默认值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'HasDefaultValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'Remarks'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'Sort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'CreatedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'ModifiedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Property', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
USE [master]
GO
