#{$prefix}-scrollbar {
  height: 100%;
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }

  .el-scrollbar__bar.is-horizontal {
    display: none;
  }

  &.is-horizontal {
    .el-scrollbar__bar.is-horizontal {
      display: block;
    }
  }
}
