$tabnav-navbtn-font-size:20px;
$tabnav-navbtn-width:30px;
$tabnav-control-btn-width:30px;
$tabnav-control-btn-height:40px;
$tabnav-control-btn-font-size:16px;
$tabnav-control-btn-border-color:#e4e7ed;