/*主题色*/
$pretty-theme-color: #03a9f4;

/*header*/
$pretty-header-background-color: $pretty-theme-color;
$pretty-header-color:#fff;

/*面包屑*/
$pretty-breadcrumb-color:#e4e7ed;
$pretty-breadcrumb-separator-color:#dcdfe6;
$pretty-breadcrumb-link-color:#fff;

/*main*/
$pretty-main-background-color: #f0f0f0;

/*sidebar*/
$pretty-sidebar-background-color: #f9fafc;

/*logo*/
$pretty-logo-box-background-color: $pretty-theme-color;
$pretty-logo-text-color: #fff;

/*menus*/
$pretty-menus-background-color: #fff;
$pretty-menus-menu-color:#444;

$pretty-menus-menu-active-background-color:#29d;
$pretty-menus-menu-active-color:#fff;

$pretty-menus-menu-hover-background-color:rgba(64, 158, 255, 0.3);
$pretty-menus-menu-hover-color:#444;