#{$prefix}box-small {
    position: relative;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;

    .inner {
        position: relative;
        padding: 15px;
        color: #fff;
        height: 100%;
        box-sizing: border-box;

        .value {
            font-size: 30px;
            font-weight: 600;

            .unit {
                font-size: 13px;
            }
        }

        .label {
            position: absolute;
            bottom: 20px;
            font-size: 15px;
        }
    }

    .icon {
        position: absolute;
        top: 5px;
        right: 0;
        color: rgba(0, 0, 0, 0.15);
        font-size: 70px;
        transition: all 0.3s ease-in;
        transform: scale(0.8);
    }

    .more {
        position: absolute;
        display: none;
        bottom: 0;
        padding: 5px 0;
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        background: rgba(0, 0, 0, 0.15);
        font-size: 13px;
        transition: all 0.2s ease-in;
        border: 0 !important;

        #{prefix}icon {
            font-size: 13px;
        }

        &:hover {
            background: rgba(0, 0, 0, 0.25);
            color: #fff;
        }
    }

    &:hover {
        .icon {
            transform: scale(1);
        }

        .more {
            display: block;
        }
    }
}