@import 'variables';

#{$prefix}-menus {
  position: absolute;
  height: 100%;
  width: 100%;

  .el-scrollbar {
    height: 100%;

    .el-scrollbar__wrap {
      overflow-x: hidden;
    }

    .el-menu {
      border: none;
      background-color: $menus-background-color;


      .el-menu-item,
      .el-submenu__title {
        color: $menus-menu-color;

        &:hover,
        &:focus,
        &:active {
          color: $menus-menu-hover-color;
          background-color: transparent !important;
        }

        &.is-active {
          background: $menus-menu-active-background-color !important;
          color: $menus-menu-active-color !important;
        }
      }

      .el-menu--inline {
        background: rgba(0, 0, 0, .3) !important;
      }
    }
  }

  &-icon {
    position: relative;
    margin-top: $menus-icon-margin-top;
    margin-right: $menus-icon-margin-right;
    font-size: $menus-icon-font-size;
    vertical-align: $menus-icon-vertical-align;
  }
}