$menus-background-color: $sidebar-background-color;
$menus-icon-margin-right: 10px;
$menus-icon-font-size: 18px;
$menus-icon-vertical-align: -0.25em;

$menus-menu-color:rgba(255, 255, 255, .7);
$menus-menu-hover-color:#fff;
$menus-menu-active-background-color:$theme;
$menus-menu-active-color:$menus-menu-hover-color