#{$prefix}-select {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  &-input {
    flex-grow: 1;
    .el-select {
      width: 100%;
    }
  }
  &-button {
    flex-shrink: 0;
    padding-left: 3px;
    #{$prefix}-button {
      padding-left: 10px;
      padding-right: 10px;

      #{$prefix}-icon {
        padding: 0;
      }
    }
  }
}
