@import 'variables';


#{$prefix}-txt {
    position: relative;
    margin-top: 3px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;

    &-icon {
        padding-left: 21px;

        #{$prefix}-icon {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 20px;
        }
    }
}