#{$prefix}tabs {
    position: relative;
    height: 100%;
    background-color: #fff;

    &-toolbar {
        position: absolute;
        top: 0;
        right: 5px;
        height: 40px;
        z-index: 9999;

        #{$prefix}button {
            margin-left: 0;
            padding: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
            padding: 10px 7px;
            color: $text-color3;
            user-select: none;
            outline: none;
            transition: all 0.2s ease-in-out;
            font-size: 16px;
            width: 40px;
            height: 40px;

            &:hover {
                color: $text-color1;
                transform: scale(1.2);
            }
        }
    }

    >.el-tabs {
        @include flex-column();
        height: 100%;
        box-shadow: $box-shadow;
        box-sizing: border-box;

        >.el-tabs__header {
            margin: 0;

            >.el-tabs__nav-wrap {
                padding: 0 5px;
            }
        }

        .el-tabs--border-card {
            box-shadow: none;
        }


        .el-tabs__content {
            padding: 0;
            height: 100%;
            flex-grow: 1;

            .el-tab-pane {
                height: 100%;

                >#{$prefix}list {
                    border: 0;
                    border-radius: 0;
                }
            }
        }
    }

    &.fullscreen {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }
}