@import './variables';

#{$prefix}box {
    box-shadow: $box-box-shadow;
    @include flex-column();
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    border-width: 0 1px;
    border-style: solid;
    border-color: $border-color2;

    >#{$prefix}box-header {
        padding: $box-header-padding;
        background-color: $box-background-color;
        display: flex;
        align-items: stretch;
        flex-shrink: 0;
        @include vertical-center($box-header-height);
        border-top: 1px solid $border-color2;
        border-bottom: 1px solid $border-color3;
        box-sizing: border-box;

        #{$prefix}box-header-icon {
            padding: $box-header-icon-padding;
            width: $box-header-icon-width;
            font-size: $box-header-icon-font-size;
            text-align: center;
            flex-shrink: 0;
        }

        #{$prefix}box-header-title {
            flex-grow: 1;
            font-size: $box-header-title-font-size;
            font-weight: $box-header-title-font-weight;
        }

        #{$prefix}box-header-toolbar-before {
            flex-grow: 1;
        }

        #{$prefix}box-header-toolbar {
            position: relative;
            flex-shrink: 0;

            #{$prefix}button {
                margin-left: 0;
                padding: 0;
                border: none;
                background-color: transparent;
                cursor: pointer;
                padding: 10px 7px;
                color: $text-color3;
                user-select: none;
                outline: none;
                transition: all 0.2s ease-in-out;
                font-size: 16px;
                width: 30px;
                height: 30px;

                &:hover {
                    color: $text-color1;
                    transform: scale(1.2);
                }
            }
        }
    }

    >#{$prefix}box-dialog {
        position: relative;
        border-bottom-left-radius: $box-border-radius;
        border-bottom-right-radius: $box-border-radius;
        background-color: $box-background-color;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-grow: 1;

        >#{$prefix}box-content {
            position: relative;
            padding: $box-content-padding;
            flex-grow: 1;
            box-sizing: border-box;
        }

        >#{$prefix}box-footer {
            padding: $box-footer-padding;
            flex-shrink: 0;
            height: $box-footer-height;
            line-height: $box-footer-height - 3px;
            border-top: 1px solid $border-color1;
            text-align: right;
            box-sizing: border-box;
        }
    }

    &.has-height {
        >#{$prefix}box-dialog {
            >#{$prefix}box-content {
                position: absolute;
                padding-left: 0;
                padding-right: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;

                >&-scrollbar {
                    >.el-scrollbar__wrap {
                        padding-left: $box-content-padding;
                        padding-right: $box-content-padding;
                    }
                }
            }
        }
    }

    &.fullscreen {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: $z-index-box-fullscreen;
    }

    &.small {
        #{$prefix}box-header {
            @include vertical-center($box-small-header-height);
        }

        #{$prefix}box-footer {
            height: $box-small-footer-height;
            line-height: $box-small-footer-height - 3px;
        }
    }

    &.mini {
        #{$prefix}box-header {
            @include vertical-center($box-mini-header-height);
        }

        #{$prefix}box-footer {
            height: $box-mini-footer-height;
            line-height: $box-mini-footer-height - 3px;
        }
    }

    &.page {
        height: 100%;

        >#{$prefix}box-dialog {
            padding: 0;

            >#{$prefix}box-content {
                padding: 0;

                >#{$prefix}box-wrapper {
                    position: absolute;
                    width: 100%;
                    height: 100%;

                    .el-scrollbar__view {
                        padding: $box-content-padding;
                    }
                }
            }
        }
    }

    &.no-padding {
        >#{$prefix}box-dialog {

            >#{$prefix}box-content {

                >#{$prefix}box-wrapper {

                    .el-scrollbar__view {
                        padding: 0 !important;
                    }
                }
            }
        }
    }

    &.border {
        border-top-width: 3px;

        &.success {
            border-top-color: $color-success;
        }

        &.info {
            border-top-color: $color-info;
        }

        &.primary {
            border-top-color: $color-primary;
        }

        &.warning {
            border-top-color: $color-warning;
        }

        &.danger {
            border-top-color: $color-danger;
        }
    }

    &.title-bold {
        #{$prefix}box-header-title {
            font-weight: 600;
        }
    }
}