$box-border-radius: 3px;
$box-background-color: #fff;
$box-box-shadow: $box-shadow;

$box-border-width: 2px;

$box-header-padding: 0 5px;
$box-header-height: 40px;

$box-header-icon-padding: 0;
$box-header-icon-width: $box-header-height - 10;
$box-header-icon-font-size: 1.5rem;

$box-header-title-font-size: 16px;
$box-header-title-font-weight: 400;

$box-header-tool-padding: 10px 7px;

$box-content-padding: 10px;

$box-footer-padding: 0 10px;
$box-footer-height: 50px;

$box-small-header-height: 40px;
$box-small-footer-height: 40px;

$box-mini-header-height: 35px;
$box-mini-footer-height: 35px;