@import './variables';

//容器
#{$prefix}container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  &-main {
    padding: $container-padding;
    height: 100%;
    box-sizing: border-box;

    > #{$prefix}scrollbar {
      .el-scrollbar__wrap {
        overflow-x: hidden;
        .el-scrollbar__view {
          height: 100%;
        }
      }

      .is-horizontal {
        display: none;
      }
    }
  }

  &.is-horizontal {
    .is-horizontal {
      display: block;
    }
  }
}
