#{$prefix}-text {
    &-info {
        color: $color-info;
    }

    &-primary {
        color: $color-primary;
    }

    &-success {
        color: $color-success;
    }

    &-warning {
        color: $color-warning;
    }

    &-danger {
        color: $color-danger;
    }
}