//重置element样式
.el-message {
    top: 200px;
    z-index: 99999 !important;
}

.el-icon--right {
    margin-left: 0;
}

//解决element-ui的table表格无法对齐的问题
body {
    .el-table {

        th.gutter,
        colgroup.gutter {
            display: table-cell !important;
        }
    }
}

.el-dropdown {
    span.el-dropdown-link {
        display: block;
        height: 100%;
    }
}

.el-dropdown-menu {
    .el-dropdown-menu__item {
        .el-checkbox {
            width: 100%;
        }
    }
}

.el-select,
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
    width: 100% !important;
}

.el-message {
    top: 5px !important;
}

.el-tabs__item {
    #{$prefix}-icon {
        position: relative;
        top: 2px;
        padding-right: 2px;
        font-size: 1.4em;
    }
}

.el-tree-node__expand-icon {
    color: #c0c4cc;
}

.el-input-number {
    width: 100% !important;
}