//重置element样式
.el-message {
    top: 200px;
    z-index: 99999 !important;
}

.el-icon--right {
    margin-left: 0;
}

//解决element-ui的table表格无法对齐的问题
body {
    .el-table {

        th.gutter,
        colgroup.gutter {
            display: table-cell !important;
        }
    }
}

.el-dropdown {
    span.el-dropdown-link {
        display: block;
        height: 100%;
    }
}

.el-dropdown-menu {
    .el-dropdown-menu__item {
        .el-checkbox {
            width: 100%;
        }
    }
}

.el-select,
.el-input__inner,
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
    width: 100% !important;
}

.el-message {
    top: 5px !important;
}

.el-input-number {
    width: 100% !important;
}

@mixin input-icon($type, $top, $size, $padding) {
    .el-input#{$type} {

        .el-input__prefix,
        .el-input__suffix,
        .el-input-group__prepend,
        .el-input-group__append {
            #{$prefix}icon {
                position: relative;
                top: $top;
                font-size: $size;
            }
        }

        &.el-input--prefix {
            .el-input__inner {
                padding-left: $padding;
            }
        }

        &.el-input--suffix {
            .el-input__inner {
                padding-right: $padding;
            }
        }
    }
}

@include input-icon('', 6px, 26px, 34px);
@include input-icon('--medium', 4px, 22px, 30px);
@include input-icon('--small', 1px, 19px, 25px);
@include input-icon('--mini', 2px, 18px, 22px);

/********************* Tree **********************/
.el-tree {
    user-select: none;
}

/********************* Tabs **********************/
.el-tabs__item {
    #{$prefix}icon {
        position: relative;
        top: 2px;
        padding-right: 2px;
        font-size: 1.4em;
    }
}