/*格式化小功能*/

/*页*/
.page {
    height: 100%;
}

/*文本颜色*/
#{$prefix}-text {
    &-info {
        color: $color-info;
    }

    &-primary {
        color: $color-primary;
    }

    &-success {
        color: $color-success;
    }

    &-warning {
        color: $color-warning;
    }

    &-danger {
        color: $color-danger;
    }
}

/*背景颜色*/
#{$prefix}-bg {
    &-info {
        background-color: $color-info;
    }

    &-primary {
        background-color: $color-primary;
    }

    &-success {
        background-color: $color-success;
    }

    &-warning {
        background-color: $color-warning;
    }

    &-danger {
        background-color: $color-danger;
    }
}

/*内边距*/
@for $i from 0 through 30 {
    #{$prefix}-p-#{$i} {
        padding: #{$i}px !important;
    }

    #{$prefix}-p-t-#{$i} {
        padding-top: #{$i}px !important;
    }

    #{$prefix}-p-b-#{$i} {
        padding-bottom: #{$i}px !important;
    }

    #{$prefix}-p-l-#{$i} {
        padding-left: #{$i}px !important;
    }

    #{$prefix}-p-r-#{$i} {
        padding-right: #{$i}px !important;
    }
}

/*外边距*/
@for $i from 0 through 30 {
    #{$prefix}-m-#{$i} {
        margin: #{$i}px !important;
    }

    #{$prefix}-m-t-#{$i} {
        margin-top: #{$i}px !important;
    }

    #{$prefix}-m-b-#{$i} {
        margin-bottom: #{$i}px !important;
    }

    #{$prefix}-m-l-#{$i} {
        margin-left: #{$i}px !important;
    }

    #{$prefix}-m-r-#{$i} {
        margin-right: #{$i}px !important;
    }
}