/*垂直居中*/
@mixin vertical-center($height) {
    height: $height;
    line-height: $height;
}

@mixin flex-row() {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

@mixin flex-column() {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

//顶部工具栏鼠标hover效果
@mixin toolbar-hover-border() {

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background: #000;
        transition: all .25s ease-in-out;
    }

    &:hover {
        &::before {
            left: 0;
            width: 100%;
        }
    }
}