//变量
@import './variables';
//混合
@import './mixins';
//动画
@import './animation/index';
//颜色
@import './color';
//覆盖element样式
@import './element';
//进度条
@import './nprogress';

/*********************组件 Begin************************/

//盒子
@import './components/box/index';
//盒子行
@import './components/box-row/index';
//按钮
@import './components/button/index';
//Checkbox
@import './components/checkbox-group/index';
//颜色选择器
@import './components/color-picker/index';
//容器
@import './components/container/index';
//详情页
@import './components/details/index';
//详情页对话框
@import './components/details-dialog/index';
//对话框
@import './components/dialog/index';
//拖拽排序
@import './components/drag-sort/index';
//拖拽排序对话框
@import './components/drag-sort-dialog/index';
//抽屉
@import './components/drawer/index';
//表单
@import './components/form/index';
//对话框表单
@import './components/form-dialog/index';
//图标选择器
@import './components/icon-picker/index';
//标签
@import './components/label/index';
//列表
@import './components/list/index';
//列表框
@import './components/listbox/index';
//滚动条
@import './components/scrollbar/index';
//选择框
@import './components/select/index';
//窗口分割
@import './components/split/index';
//标签导航
@import './components/tabnav/index';
//标签页
@import './components/tabs/index';
//文本
@import './components/txt/index';
//工具栏
@import './components/toolbar/index';
//多文件上传
@import './components/upload-multiple/index';
//单文件上传
@import './components/upload-single/index';
//文件上传对话框模式
@import './components/upload-dialog/index';

/*********************组件 End************************/

/*********************皮肤 Begin************************/
//pretty
@import '../skins/pretty/styles/index';
//classics
@import '../skins/classics/styles/index';

/*********************皮肤 End************************/