@import '../../../styles/mixins';
@import '../../../styles/variables';

#{$prefix}skin-pretty {
    #{$prefix}wrapper {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        align-items: stretch;
    }

    @import './components/sidebar/index';
    @import './components/main/index';

    @import './themes/index';

    #{$prefix}header-userinfo-dropdown {
        #{$prefix}button {
            padding: 6px 0;
            font-size: 13px;

            #{$prefix}icon {
                font-size: 1.5em;
            }
        }
    }
}