$listbox-count-right:5px;
$listbox-count-color: $text-color3;

$listbox-item-padding: 0 10px;
$listbox-item-height: 40px;
$listbox-item-font-size: 14px;
$listbox-item-border-left-color: $color-primary;

$listbox-item-hover-background-color: rgba(200, 200, 200, 0.2);