#{$prefix}header {
    padding-right: 0;
    display: flex;
    flex-shrink: 0;
    height: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    &-left {
        position: relative;
        padding-left: 50px;
        flex-shrink: 0;
        overflow: hidden;

        /*侧边栏隐藏切换按钮*/
        #{$prefix}sidebar-toggle-btn {
            position: absolute;
            left: 0;
            @include vertical-center(50px);
            width: 50px;
            font-size: 25px;
            color: #fff;
            text-align: center;
            cursor: pointer;

            @include toolbar-hover-border();
        }

        #{$prefix}breadcrumb {
            @include vertical-center(50px);
        }
    }

    &-right {
        display: flex;
        flex-grow: 1;
        @include vertical-center(50px);
        justify-content: flex-end;
    }

    &-userinfo {
        margin: 0 10px 0 5px;
        position: relative;
        cursor: pointer;
        @include toolbar-hover-border();

        .el-dropdown {
            color: #fff;
        }
    }
}