@import 'variables';

#{$prefix}header {
    padding-right: $header-padding-right;
    display: flex;
    flex-shrink: 0;
    height: $header-height;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: $header-background;

    &-left {
        position: relative;
        padding-left: $sidebar-toggle-btn-width;
        flex-shrink: 0;
        overflow: hidden;

        /*侧边栏隐藏切换按钮*/
        #{$prefix}sidebar-toggle-btn {
            position: absolute;
            left: 0;
            @include vertical-center($sidebar-toggle-btn-height);
            width: $sidebar-toggle-btn-width;
            font-size: $sidebar-toggle-btn-font-size;
            color: $sidebar-toggle-btn-color;
            text-align: center;
            cursor: pointer;

            @include toolbar-hover-border();
        }

        #{$prefix}breadcrumb {
            @include vertical-center($header-height);

            .el-breadcrumb__item {
                .el-breadcrumb__inner {
                    color: $header-breadcrumb-color;

                    &.is-link {
                        color: $header-breadcrumb-link-color;
                    }
                }

                .el-breadcrumb__separator {
                    color: $header-breadcrumb-separator-color;
                }
            }
        }
    }

    &-right {
        display: flex;
        flex-grow: 1;
        @include vertical-center($header-height);
        justify-content: flex-end;
    }

    &-userinfo {
        margin: 0 10px 0 5px;
        position: relative;
        cursor: pointer;
        @include toolbar-hover-border();

        .el-dropdown {
            color: $header-userinfo-dropdown-color;
        }
    }
}