@import 'variables';

/*侧边栏*/
#{$prefix}-sidebar {
    position: relative;
    display: flex;
    width: $sidebar-width;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    background-color: $sidebar-background-color;
    transition: all 0.3s ease-in-out;

    /*logo*/
    #{$prefix}-logo {
        &-box {
            display: flex;
            height: $logo-box-height;
            flex-shrink: 0;
            background-color: $logo-box-background-color;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 0 4px rgba(0, 0, 0, .26),
                0 -1px 0 rgba(0, 0, 0, .02);
            z-index: 1;
        }

        &-img {
            margin: $logo-img-margin;
            width: $logo-img-width;
            height: $logo-img-height;
        }

        &-text {
            text-align: center;
            height: $logo-text-height;
            line-height: $logo-text-height;
            font-size: $logo-text-font-size;
            color: $logo-text-color;
            white-space: nowrap;
        }
    }

    &.collapse {
        width: $sidebar-hide-width;

        /*logo*/
        #{$prefix}-logo {
            &-text {
                display: none;
            }
        }
    }
}

#{$prefix}-menu-wapper {
    position: relative;
    flex-grow: 1;

}

@import '../menus/index';