/*侧边栏*/
#{$prefix}sidebar {
    position: relative;
    display: flex;
    width: 230px;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    transition: all 0.25s ease-in;

    /*logo*/
    #{$prefix}logo {
        &-box {
            display: flex;
            height: 50px;
            flex-shrink: 0;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 0 4px rgba(0, 0, 0, .26),
                0 -1px 0 rgba(0, 0, 0, .02);
            z-index: 1;
        }

        &-img {
            margin: 5px 11px;
            width: 40px;
            height: 40px;
        }

        &-text {
            text-align: center;
            @include vertical-center(50px);
            font-size: 20px;
            white-space: nowrap;
        }
    }

    &.collapse {
        width: 65px;

        /*logo*/
        #{$prefix}logo {
            &-text {
                display: none;
            }
        }
    }
}

#{$prefix}menu-wapper {
    position: relative;
    flex-grow: 1;

}

@import '../menus/index';