/*sidebar*/
$sidebar-width: 230px;
$sidebar-background-color: #344058;

$sidebar-toggle-btn-hover-color: $color;

/*logo-box*/
$logo-box-height: 50px;
$logo-box-background-color: $theme;

/*logo-img*/
$logo-img-margin: 5px 11px;
$logo-img-width: $logo-box-height - 10;
$logo-img-height: $logo-img-width;

/*logo-text*/
$logo-text-color: #fff;
$logo-text-font-size: 20px;
$logo-text-height: $logo-box-height;

$sidebar-hide-width: 65px;

$logo-hide-img-margin: 5px 11px;