#{$prefix}-color-picker {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  &-input {
    flex-grow: 1;
    .el-select {
      width: 100%;
    }
  }
  &-color {
    flex-shrink: 0;
    padding-left: 3px;
  }
}
