#{$prefix}toolbar {
    height: 50px;
    overflow: hidden;

    &-item {
        position: relative;
        display: inline-block;
        height: 100%;
        @include toolbar-hover-border();

        .el-dropdown {
            height: 100%;
        }
    }

    &-button {
        margin-left: 0 !important;
        height: 100%;
        width: 40px;
        font-size: 18px;
        color: #fff !important;

        #{$prefix}icon {
            padding-right: 0;
            font-size: 25px;
            transform: scale(1) !important;
        }
    }

    #{$prefix}skin-toggle {
        .skin-list {
            &-item {
                position: relative;
                display: inline-block;
                margin: 0 5px;
                width: 300px;
                cursor: pointer;

                .img {
                    position: relative;
                    height: 150px;
                    overflow: hidden;
                    transition: all 0.2s ease-in;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(51, 51, 51, 0.5);
                    }

                    &:hover {
                        &::after {
                            display: none;
                        }
                    }
                }

                .text {
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                }

                &.active {
                    .img {
                        border: 1px solid #03a9f4;
                        box-shadow: 0 0 9px #03a9f4;

                        &::after {
                            display: none;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: -45px;
                            right: -4px;
                            width: 0;
                            height: 0;
                            border: 40px solid;
                            border-left-color: transparent;
                            border-right-color: #03a9f4;
                            border-bottom-color: transparent;
                            border-top-color: transparent;
                        }
                    }
                }
            }
        }

        .theme-list {
            &-item {
                margin: 0 5px;
                position: relative;
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                cursor: pointer;
                box-sizing: border-box;
                transition: all 0.25s ease-in;

                &:hover,
                &.active {
                    box-shadow: 0 0 9px #03a9f4;
                    transform: scale(1.1);
                }
            }
        }
    }
}