$theme-white: #ffffff;
$theme-back-highlight: #2c3b41;
$theme-back: rgb(30, 40, 44);
$theme-back-white: rgb(231, 229, 229, 0.1);
$theme-red: rgb(221, 75, 57);
$theme-white-highlight: #fff;
$theme-green: #00a65a;
$theme-purple: #605ca8;
$theme-blue: #3c8dbc;
$theme-orange: #f39c12;
$theme-tabs-item: rgb($theme-back-white, 1);
$theme-back-color: #f5f7fa;
