$theme-color-white: #ffffff;
$theme-color-back-highlight: #2c3b41;
$theme-color-back: rgb(30, 40, 44);
$theme-color-back-white: rgb(231, 229, 229, 0.1);
$theme-color-red: rgb(221, 75, 57);
$theme-color-white-highlight: #fff;
$theme-color-green: #00a65a;
$theme-color-purple: #605ca8;
$theme-color-blue: #3c8dbc;
$theme-color-orange: #f39c12;
$theme-color-tabs-item: rgb($theme-color-back-white, 1);
$theme-color-back-color: #f5f7fa;
