@for $i from 1 through length($list) {
  $item: nth($list, $i);
  $name: map-get($item, 'id');
  $header-background-color: map-get($item, 'header-background-color');
  $header-color: map-get($item, 'header-color');
  $menu-background-color: map-get($item, 'menu-background-color');
  $menu-color: map-get($item, 'menu-color');
  $menu-hover: map-get($item, 'menu-hover');
  #{$prefix}-theme-#{$name} {
    #{$prefix}-sidebar {
      /*********************logo-box************************/
      #{$prefix}-logo-box {
        background-color: $header-background-color !important;
        color: $header-color !important;
        #{$prefix}-logo-text {
          color: $header-color !important;
        }
      }
      /*********************menu-wapper************************/
      #{$prefix}-menu-wapper {
        background-color: $menu-background-color !important;
        border-right: 3px solid $theme-color-tabs-item !important;
        .el-submenu__title {
          background-color: $menu-background-color !important;
          color: $menu-color !important;
        }

        .el-menu-item {
          background-color: $menu-background-color !important;
          color: $menu-color !important;
          transition: background-color 0.3s, color 0.3s;
        }
        .el-menu-item:hover {
          background-color: $menu-hover !important;
        }
        .el-menu-item.is-active {
          background-color: $menu-hover !important;
          border-left: 4px solid $header-background-color !important;
          color: $header-background-color !important;
        }
      }
    }
    /*********************main************************/
    #{$prefix}-main {
      #{$prefix}-header {
        background-color: $header-background-color !important;
        color: $header-color !important;
        .nm-header-left,
        .nm-sidebar-toggle-btn,
        .el-breadcrumb__inner,
        .nm-toolbar-item > button,
        .el-dropdown-link.el-dropdown-selfdefine,
        .el-breadcrumb__inner.is-link {
          color: $header-color !important;
        }
        .el-dropdown-link.el-dropdown-selfdefine:hover {
          background-color: $header-background-color !important;
        }
      }
      #{$prefix}-container-main {
        padding: 5px 5px 5px 5px !important;
        background-color: $theme-color-back-color;
      }
      /*********************tabs页面标签************************/
      #{$prefix}-tabnav {
        background-color: $theme-color-white-highlight !important;
        #{$prefix}-tabnav-tabs {
          padding-bottom: 1px;
          padding-left: 1px;
          border-bottom: 1px;
          background-color: $theme-color-white-highlight !important;
          .el-tabs__nav {
            border-left: 2px solid $theme-color-tabs-item !important;
            border-right: 0px !important;
          }
          .el-tabs__item {
            border: 0px;
            padding-left: 20px;
            padding-right: 20px;
            transition: all 0.5s;
            &:hover {
              color: $header-background-color !important;
              background-color: rgba($header-background-color, 0.2) !important;
            }
            .el-icon-close {
              width: 14px;
              opacity: 0;
            }
          }

          .is-active {
            background-color: rgba($header-background-color, 0) !important;
            .el-icon-close {
              width: 14px;
              opacity: 1;
            }
            color: $header-background-color;
          }
        }
      }
      /*********************进度条************************/
      #{$prefix}-box-border {
        background-color: $header-background-color !important;
      }
    }
  }
  /*********************模态框************************/
  &#{$prefix}-theme-#{$name} {
    #{$prefix}-dialog {
      border-radius: 5px;
      .el-visible__header {
        border-radius: 5px 5px 0px 0px;
        margin-bottom: 5px;
        border-top: 5px solid $header-background-color;
        border-bottom: 2px solid $theme-color-tabs-item;
        background-color: $theme-color-white-highlight;
        height: auto !important;
        button {
          font-size: 12px;
        }
      }
      .el-visible__footer {
        border-radius: 0px 0px 5px 5px;
        border-top: 2px solid $theme-color-tabs-item;
        background-color: $theme-color-white-highlight;
      }
    }
  }
}
