$list: (
  (
    'id': '1',
    'name': '黑色',
    'header-background-color': $theme-back-highlight,
    'header-color': $theme-white,
    'menu-background-color': $theme-back-highlight,
    'menu-color': $theme-white,
    'menu-hover': $theme-back
  ),
  (
    'id': '2',
    'name': '黑色-亮',
    'header-background-color': $theme-back-highlight,
    'header-color': $theme-white,
    'menu-background-color': $theme-white-highlight,
    'menu-color': $theme-back,
    'menu-hover': $theme-back-white
  ),
  (
    'id': '3',
    'name': '红色',
    'header-background-color': $theme-red,
    'header-color': $theme-white,
    'menu-background-color': $theme-back-highlight,
    'menu-color': $theme-white,
    'menu-hover': $theme-back
  ),
  (
    'id': '4',
    'name': '红色-亮',
    'header-background-color': $theme-red,
    'header-color': $theme-white,
    'menu-background-color': $theme-white-highlight,
    'menu-color': $theme-back,
    'menu-hover': $theme-back-white
  ),
  (
    'id': '5',
    'name': '绿色',
    'header-background-color': $theme-green,
    'header-color': $theme-white,
    'menu-background-color': $theme-back-highlight,
    'menu-color': $theme-white,
    'menu-hover': $theme-back
  ),
  (
    'id': '6',
    'name': '绿色-亮',
    'header-background-color': $theme-green,
    'header-color': $theme-white,
    'menu-background-color': $theme-white-highlight,
    'menu-color': $theme-back,
    'menu-hover': $theme-back-white
  ),
  (
    'id': '7',
    'name': '紫色',
    'header-background-color': $theme-purple,
    'header-color': $theme-white,
    'menu-background-color': $theme-back-highlight,
    'menu-color': $theme-white,
    'menu-hover': $theme-back
  ),
  (
    'id': '8',
    'name': '紫色-亮',
    'header-background-color': $theme-purple,
    'header-color': $theme-white,
    'menu-background-color': $theme-white-highlight,
    'menu-color': $theme-back,
    'menu-hover': $theme-back-white
  ),
  (
    'id': '9',
    'name': '蓝色',
    'header-background-color': $theme-blue,
    'header-color': $theme-white,
    'menu-background-color': $theme-back-highlight,
    'menu-color': $theme-white,
    'menu-hover': $theme-back
  ),
  (
    'id': '10',
    'name': '蓝色-亮',
    'header-background-color': $theme-blue,
    'header-color': $theme-white,
    'menu-background-color': $theme-white-highlight,
    'menu-color': $theme-back,
    'menu-hover': $theme-back-white
  ),
  (
    'id': '11',
    'name': '橙色',
    'header-background-color': $theme-orange,
    'header-color': $theme-white,
    'menu-background-color': $theme-back-highlight,
    'menu-color': $theme-white,
    'menu-hover': $theme-back
  ),
  (
    'id': '12',
    'name': '橙色-亮',
    'header-background-color': $theme-orange,
    'header-color': $theme-white,
    'menu-background-color': $theme-white-highlight,
    'menu-color': $theme-back,
    'menu-hover': $theme-back-white
  )
);

